<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <form name="myForm" id="myForm" target="_myFrame" action="https://www.google.com/" method="POST">
        <p>
            <input name="test" class="barcode" />
        </p>
    </form>

    <script type="text/javascript">
        let barcode = document.querySelector('.barcode')

        barcode.addEventListener('keypress', function () {


            let auto = setTimeout(function () {
                // autoSubmit();
                document.getElementById("myForm").submit();
            }, 10);

            // function autoSubmit() {
            //     auto = setTimeout(function () {
            //         document.getElementById("myForm").submit();
            //     }, 10);
            // }


        })

    </script>

</body>

</html>
